<nb-card>
  <nb-card-body>
    <h2>Add new song</h2>
    <form [formGroup]="songForm" class="bm-64" (ngSubmit)="addSong(songForm.value)">
      <div class="flex-row-tablet flex-gutters-8 bm-16">
        <div class="flex-col bm-16">
          <input type="text" formControlName="game" nbInput placeholder="Game">
        </div>
        <div class="flex-col bm-16">
          <input type="text" formControlName="platform" nbInput placeholder="Platform">
        </div>
        <div class="flex-col bm-16">
          <input type="text" formControlName="src" nbInput placeholder="YouTube ID" maxlength="11">
        </div>
      </div>
      <div>
        <button nbButton type="submit">Add Song</button>
      </div>
    </form>
    
    <h2>All added songs</h2>
    <nb-list>
      <nb-list-item *ngFor="let song of songs$ | async">
        {{ song.game }} for {{ platform(song) }}
      </nb-list-item>
    </nb-list>

    <h2>List of all Games</h2>
    <nb-list>
      <nb-list-item *ngFor="let game of games$ | async">
        {{ game }}
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
