<nb-card>
  <nb-card-body>
    <h3>Rooms</h3>
    
    <nb-list class="bm-32">
      <nb-list-item *ngFor="let room of rooms$ | async">
        <div class="flex-row-all flex-justify-spaced flex-align-center">
          <div class="flex-col">
            {{ room.name }}
          </div>
          <div class="flex-col">
            <button nbButton [routerLink]="['/room', room.id]">Join</button>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
    <button nbButton>Add Room</button>
  </nb-card-body>
</nb-card>
