<nb-card *ngIf="room$ | async as room">
  <nb-card-body *ngIf="player$ | async as me">
    <h3>{{ room.name }}</h3>

    <div [ngSwitch]="status">
      <ng-container *ngSwitchCase="'waiting'">
        <h4>Waiting for next round</h4>
        <button nbButton (click)="readyUp()" [disabled]="me.ready">{{ me.ready ? 'Ready!' : 'Ready Up' }}</button>
      </ng-container>
      <ng-container *ngSwitchCase="'countdown'">
        <h4>Next round starts in {{ countdown }} seconds...</h4>
      </ng-container>
      <ng-container *ngSwitchCase="'listening'">
        <h4>Round ends in {{ countdown }} seconds...</h4>
        <button nbButton (click)="enterGuess()" size="giant" status="success">I know this game!</button>
      </ng-container>
      <ng-container *ngSwitchCase="'guessing'">
        <h4>Round ends in {{ countdown }} seconds...</h4>
        <form [formGroup]="gameForm" (ngSubmit)="submitGuess(gameForm.value)">
          <div class="flex-row-mobile flex-gutters-8 bm-8">
            <div class="flex-col bm-8">
              <input type="text" formControlName="name" #nameField nbInput placeholder="Name">
            </div>
            <div class="flex-col bm-8">
              <button nbButton type="submit" status="success">Send Guess</button>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="'guessed'">
        <h4>Round ends in {{ countdown }} seconds...</h4>
        <p>You guessed {{ guess }}.</p>
      </ng-container>
      <ng-container *ngSwitchCase="'complete'">
        <h4>Round Complete!</h4>
        <p>
          You guessed {{ guess }}, which is {{ correct ? 'correct!' : 'incorrect.' }}
          <ng-container *ngIf="!correct && !!song">The correct answer is {{ song.game }}.</ng-container>
        </p>
        <div *ngIf="correct">
          <p>You clicked to answer in {{ differenceInSeconds(timestamps.guessStartAt) }} and submitted your guess in {{ differenceInSeconds(timestamps.guessEndAt) }}.</p>
        </div>

        <div *ngIf="winner">
          <p>You guessed the song correctly the fastest! That's one point for you, congratulations!</p>
        </div>

        <div *ngFor="let player of winner$ | async">
          {{ player.name }} clicked to answer in {{ msToSeconds(player.start) }} and guessed the game correctly in {{ msToSeconds(player.end) }}!
        </div>

        <h4>Click when you're ready for the next round</h4>
        <button nbButton (click)="readyUp()" [disabled]="me.ready">{{ me.ready ? 'Ready!' : 'Ready Up' }}</button>
      </ng-container>
      <ng-container *ngSwitchCase="'busy'">
        <h4>Please wait while the other players finish the current round</h4>
        <button nbButton (click)="reset()">Reset</button>
      </ng-container>
      <ng-container *ngSwitchDefault>
      </ng-container>
    </div>

    <div *ngIf="song">
      <youtube-player
        [videoId]="song.src"
        (ready)="saveVideo($event)"
      ></youtube-player>
    </div>
    
    <h6>Players</h6>
    <nb-list class="bm-32">
      <nb-list-item *ngFor="let player of room.players$ | async">
        <div class="flex-row-all flex-gutters-8">
          <div class="flex-col">
            <nb-icon icon="checkmark" *ngIf="player.ready"></nb-icon>
            {{ player.name }}
          </div>
          <div class="flex-col">
            {{ player.score }}
          </div>
          <div class="flex-col" *ngIf="player.winner">
            Won the last round!
          </div>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
