@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

// Find ratio with (height / width * 100)%
@mixin intrinsic-ratio($selector: '.scalable', $ratio: 56.25%) {
  position: relative;
  padding-bottom: $ratio;
  height: 0px;
  width: 100%;
  #{$selector} {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
.intrinsic {
  @include intrinsic-ratio('iframe');
}